$bg-color-primary: #ffeb33; 
$bg-color-lighten: #f3f3f3; 
$bg-color-light: #89898b;
$bg-color-darken: #424245;
$bg-color-dark: #131316; 

$color-primary: #ffe600;
$color-font: #131316;
$color-font-light: #8e8e8e;
$color-font-white: #ffffff;


$font-family-base: robotoregular, Arial, sans-serif;
$font-family-light: robotolight, Arial, sans-serif;
$font-size-base: 15px;
$font-size-sm: 13px;
$font-size-md: 20px;
$font-size-lg: 25px;
$font-size-xl: 40px;





